body{
  background: rgb(232, 228, 228);
}

header{
    border: 2px solid darkblue;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}

#nav{
    gap: 25px;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}

.hero{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: white;
  font-size: 30px;
  gap: 20px;
}

.hero img{
    width: 100%;
    max-width: 300px;
}

section{
  padding: 30px;
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill-card{
  background: #004aad;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
}

.skill-card:hover{
    transform: translateY(-10px);
}

.project-grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card{
    background: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form input,
textarea{
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;  
     border: 1px solid rgb(164, 152, 152);
     border-radius: 3px;
}

form{
    background: white;
    padding: 20px;
    max-width: 360px;  
    border-radius: 10px;
    border: 1px solid rgb(181, 177, 184);
    margin: auto;
}

button{
  background: #004aad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


footer{
  background: #004aad;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

#colors{
  font-weight: bold;  
  animation: box 3.5s infinite;
}

@keyframes box{
  0% { color: red; }
  25% { color: lime; }
  50% { color: aqua; }
  75% { color: purple; }
  100% { color: darkblue; }
}

@media (max-width: 768px){
  .hero{
      flex-direction: column;
      text-align: center;
  }
}
